<% if params[:organization_id].present? and Organization.where(id: params[:organization_id]).exists? %>
    <% @organization =  Organization.find(params[:organization_id]) %>
    <%= render partial: 'organizations/info', locals: { :short => true } %>
    <%= link_to url_for(update_search_path(request.parameters.except(:organization_id))), class: 'pull-right' do %>
        <i class="fa fa-times-circle"></i> reset filter
    <% end %>
<% else %>
    <ul class="list-group list-group-flush">
      <% @orgs.each do |o| %>
        <li class="list-group-item available-tags">
          <%= link_to o["name"], update_search_path(request.parameters.merge(:organization_id => o["id"]).except(:page)) %> (<%= o["org_count"] %>) 
        </li>
      <% end %>
    </ul>
<% end %>



