<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Title</h5>
    <p class="card-text resource-small text-dark">The collection title should be short but descriptive, as this is the most immediate way others will be able to identify the collection in the portal.</p>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Tags</h5>
    <p class="card-text resource-small text-dark">Select the most important sector/topic tags that apply to this collection as a whole. Do not try to include every possible tag that applies to each included resource; the tags attached to individual resources will automatically be included in any search to try and locate this collection.</p>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Resources</h5>
    <p class="card-text resource-small text-dark">You can use this menu to quickly add resources to this collection (or remove them). Click in the menu and begin typing to locate resources by name. As you search, you can use the arrow keys to scroll through the results. You can add the currently selected resource to the list by tapping the enter key.</p>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Description</h5>
    <p class="card-text resource-small text-dark">Please keep this section clean and concise. Answer these questions when you write it: What is this collection about? How were the resources in it used? How can this collection of resources be useful to others?</p>
  </div>
</div>