
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
      <div class="tag-box tag-box-v3 form-page">
        The collection you are trying to view was not found. <%= link_to "Try searching for something else?", collections_path %>

      </div>
  </div>
</div>
