<p>Your application to become a member of <strong><%= @organization.name %></strong> on the Jordan Knowledge Management Portal (KaMP) has been approved.</p>

<p>You can now upload resources as part of your organization. </p>

<p>To view resources already uploaded by your organization, <a href="<%= organizations_url %>">click here</a></p>


<p>If you need any further support please contact <a href="mailto:contact@jordankmportal.com">contact@jordankmportal.com</a>.</p>

<p> Best Regards,<br>
  Jordan KaMP
</p>
