<p>The application for your organization <strong><%= @organization.name %></strong> to join the Jordan Knowledge Management Portal (KaMP) has been denied by the system administrator.</p>


<p>If you need any further support please contact <a href="mailto:contact@jordankmportal.com">contact@jordankmportal.com</a> to resolve the issue.</p>

<p>Best Regards,<br>
Jordan KaMP </p>
