
<div class="row p-2">
  <div class="col-md-3 d-flex flex-row-reverse text-danger">
    short description:
  </div>
  <div class="col-md-9">
    <%= event.short_description %>
  </div>
</div>
<div class="row p-2">
  <div class="col-md-3 d-flex flex-row-reverse text-danger">
    long description:
  </div>
  <div class="col-md-9">
    <%= event.long_description %>
  </div>
</div>


