<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Registration</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Registration</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
<% if params[:email_token].presence %>
  <%= render partial: 'registration_form' %>
<% else %>
  Not Authorized
<% end %>

  
</div><!--/container-->
<!--=== End Content Part ===-->


<script>
  $(document).ready(function() {

    $('#new_user').on('submit', function(e) { //use on if jQuery 1.7+
      if($('#organization_select_list').val() != "" && $("#organization_name").val() != "") {
        alert("Choose either an existing organization or enter apply for a new one.");
        return false;
      }
    });

  });


</script>
