<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Registration</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Registration</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
<% if params[:email_token].presence && params[:email_address].presence %>
  <%
    digest = OpenSSL::Digest.new('sha1')
    hmac = OpenSSL::HMAC.hexdigest(digest, ENV['EMAIL_HASH_KEY'], params[:email_address])
  %>
  <% if params[:email_token] == hmac %>
    <%= render partial: 'registration_form' %>
  <% else %>
    Not able to validate. Please request another invite.
  <% end %>
<% else %>
  Not Authorized. Please request an invitation using the link at the top right corner of the screen.
<% end %>

  
</div><!--/container-->
<!--=== End Content Part ===-->


<script>
  $(document).ready(function() {

    $('#new_user').on('submit', function(e) { //use on if jQuery 1.7+
      if($('#organization_select_list').val() != "" && $("#organization_name").val() != "") {
        alert("Choose either an existing organization or enter apply for a new one.");
        return false;
      }
    });

  });


</script>
