
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <p>The following users are able to moderate submissions to the portal:</p>

      <%= render partial: 'users/table_list' %>

    </div>
    <div class="col-md-3">

      <%= render 'sidebar' %>

    </div>
  </div>
</div>

