<p>Your application to join Jordan KAMP has been denied. Likely reasons for denial include:</p>
<ul>
  <li>Using a personal email instead of a work email</li>
  <li>Incorrect organization selected</li>
  <li>Incorrect information provided</li>
</ul>

<p>To register, please correct these issues and try again. If you have any questions, please reach out to the Jordan KaMP administrator at <a href="mailto:help@decentdata.world.">help@decentdata.world</a></p>

<p> Best regards,<br>
  Jordan KaMP
</p>