<p>An invitation to register has been requested on the Jordan Knowledge Management Portal (KaMP).</p>

<p>If you did NOT request access to the Jordan KaMP, please click this <%= link_to('unsubscribe link', unsubscribe_url+'?email='+@email_address+'&verify='+@verify) %> to disallow sending invitations to this email address.</p>

<p>To register, please use the following link:</p>

<p><%= link_to('Register here', @link) %>   </p>

<p>If you need any further support please contact <a href="mailto:help@jordankmportal.com">contact@jordanmela.com</a>.</p>

<p> Best Regards,<br>
  Jordan KaMP
</p>
