<p>An invitation to register has been requested on the Jordan Knowledge Management Portal (KaMP).
If you did not request this invitation, please ignore this email.</p>

<p>To register, please use the following link:</p>

<p><%= link_to('Register here', new_registration_url+'?email_address='+@email_address+'&email_token='+@verify) %>   </p>

<p>If you need any further support please contact <a href="mailto:contact@jordanmela.com">contact@jordanmela.com</a>.</p>

<p> Best Regards,<br>
  Jordan KaMP
</p>
