
<% if pending_submissions.count > 0 %>
    <% pending_submissions.each do |submission| %>
        <div class="row">
          <div class="col-sm-12">
            <% if submission.class.name == "Collection" %>
                <%= render partial: "collections/collection", locals: { collection: submission } %>
            <% else %>
                <%= render partial: "resources/resource", locals: { resource: submission } %>
            <% end %>

          </div>
        </div>
    <% end %>
<% else %>
    <p>There are no submissions pending approval right now.</p>
<% end %>
