
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <div class="headline"><h2>Fix Resource-Collection Relationships</h2></div>

      <div class="row">
        <%= @count_resources %> Total Resources</div>
    <div class="row text-center">
      <%= link_to 'fix all', fix_resource_collections_path, class: "btn btn-danger" %>
</div>

    </div>
    <div class="col-md-3">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
      <p>Use this section to migrate resource to collection relationships from one-to-one to many-to-many </p>

    </div>
  </div>
</div>