
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <div class="headline"><h2>Fix Resource-Collection Relationships - <span class="green">Done!</span></h2></div>

      <div class="row">
        <%= @resources.count %> Total Resources </div>
        <%= @counter %> Resources fixed</div>

    </div>
    <div class="col-md-3">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>All relationships for Resouces to collections have been migrated</p>

    </div>
  </div>
</div>