
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

    <%= link_to 'New Tag', new_tag_path, class: "btn btn-u pull-right" %>
    <%= render 'tags_table_list' %>

  </div>
  <div class="col-md-3">

    <%= render 'admin/sidebar' %>

  </div>
</div>
</div>

