
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <div class="headline"><h2>New Tag</h2></div>

      <%= render 'tag_form' %>

    </div>
    <div class="col-md-3">

      <%= render 'admin/sidebar' %>

    </div>
  </div>
</div>