
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">
<% if @resources.count > 0 %>
    <p class="text-muted">Showing most recently updated resources
    </p>
    <% @resources.each do |resource| %>
        <%= render partial: 'resources/resource_results', locals: {resource: resource} %>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @resources %>
    </div>
<% else %>
    <%= raw '<blockquote><i class="fa fa-thumbs-down"></i> No resources found with that combination</blockquote>' %>
<% end %>
    </div>
    <div class="col-md-3">
      <%= render 'admin/sidebar' %>
    </div>
  </div>
</div>

