
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <div class="headline"><h2>Batch Resources Uploaded</h2></div>
      <p>The ZIP file was processed successfully.</p>
      <%= link_to 'View Batch', batch_path(@current_batch) %>

    </div>
    <div class="col-md-3">

      <%= render 'admin/sidebar' %>

    </div>
  </div>
</div>