
<div class="form-group">
  <label for="name">Column 1 Heading</label>
  <%= f.input_field :col1_heading, class: "form-control", id: 'col1_heading', placeholder: 'Enter Column 1 Heading', maxlength: 250 %>
</div>

<div class="form-group">
  <label for="name">Column 1 Body</label>
  <%= f.input_field :col1_body, id: 'col1_body' %>
</div>
