
<div class="form-group">
  <label for="name">Column 2 Heading</label>
  <%= f.input_field :col2_heading, class: "form-control", id: 'col2_heading', placeholder: 'Enter Column 1 Heading', maxlength: 250 %>
</div>

<div class="form-group">
  <label for="name">Column 2 Body</label>
  <%= f.input_field :col2_body, id: 'col2_body' %>
</div>