

<div class="form-group">
  <label for="name">Heading</label>
  <%= f.input_field :heading, class: "form-control", id: 'heading', placeholder: 'Enter Heading', maxlength: 250 %>
</div>

<div class="form-group">
  <label for="name">Introduction</label>
  <%= f.input_field :intro_text, id: 'intro_text' %>
</div>