<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <h1>New banner</h1>

      <%= render 'form' %>


    </div>
    <div class="col-md-3">

      <%= render 'admin/sidebar' %>

    </div>
  </div>
</div>