<%= form_with url: users_path, method: :get do |form| %>
  <div class="input-group users-search">
    <%= form.text_field :search, autocomplete: "off", class: "form-control", placeholder: params[:search] || "Search users" %>
    <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
    <% if params[:search] && params[:search].length > 0 %>
      <%= link_to users_path, class: 'btn btn-outline-primary', role: "button" do %><i class="fa fa-refresh"></i><% end %>
    <% end %>
  </div>
<% end %>