<% content_for :title do %><%= @page_title %><% end %>
<!--=== Content Part ===-->
<div class="container content">
  <!-- About Description -->
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>