
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><i class="fa fa-search"></i> Locate an existing resource that you want to include in this collection.</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Enter a name for the new resource</p>
<p>&nbsp;</p>
<p><i class="fa fa-info-circle"></i> Resources can be any type of file or simply a URL, which is then flagged with relevant meta data that make finding it easier. <%= link_to raw('<i class="fa fa-arrow-right"></i> Read more'), about_resource_types_path %></p>

<p>&nbsp;</p>
<div class="headline"><h3><i class="fa fa-tags"></i> Tags</h3> </div>
<p>Apply any tags that might help users locate this information.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>