<p>The application for your organization to join the Jordan Knowledge Management Portal (KaMP) has been approved.</p>

<h3>What Does this Mean for You?</h3>
<dl>
  <dt><b>Upload Resources to the Portal</b></dt>
  <dd>All users that register as members of your organization can now upload resources.</dd>

  <dt><b>Manage Membership of your Organization</b></dt>
  <dd>As new users register for the portal and validate ownership of an email address from the "<b><%= @organization.domain %></b>" domain, they will automatically be made "members" of your organization.</dd>
  <dd>It is important that you manage the membership of your organization as each of the users are able to upload resources to KaMP that will be linked to your organization. You will be notified if new users register using an email with your organizational domain or selecting your organization during sign up.</dd>
  <dd>The "Members" tab on your organization profile page will allow you (and other organization admins) to manage existing members of your organization registered on KaMP, and accept or reject new users.</dd>

  <dt>Delegate Authority</dt>

  <dd>Using the organization dashboard (a link to the organization page) you can assign user roles to your organization's members.</dd>
  <dd>Making users "editors" lets them moderate all of your organization resources.</dd>
  <dd>Making users "admins" gives them all editor rights plus the ability to manage organization membership and roles.</dd>

  <dt><b>Got Feedback?</b></dt>
  <dd>Feel free to send us your portal related questions and suggestions at <a href="mailto:contact@jordankmportal.com">contact@jordankmportal.com</a></dd>
</dl>

  <p>Best Regards,<br>
  Jordan KaMP</p>

