<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Resource Name</h5>
    <p class="card-text resource-small text-dark">The resource name should be short but descriptive, as this is the most immediate way others will be able to identify the resource in the portal. The resource name can be a great opportunity to include some key words as well.</p>
    <h6 class="card-subtitle mb-2 text-body-secondary resource-small">Example: Mid-Term Evaluation of the Jordan health care initiative</h6>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">File/Source URL</h5>
    <p class="card-text resource-small text-dark">You may either upload a resource file or link to an external resource. If linking to an external resource, the Source URL is required. If uploading a resource file, you may optionally provide the Source URL for that resource, where applicable.</p>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Tags</h5>
    <p class="card-text resource-small text-dark">You can use as many sector/topic tags as needed. If you don't find a tag, you can combine a few high-level tags to ensure all key words are included (Example: "Monitoring and Evaluation" -> #monitoring #evaluation). The portal will not have ALL possible tags so be sure to include in the notes, resource name, or description any other key words for which there are no matching system tags.</p>
    <h6 class="card-subtitle mb-2 text-body-secondary resource-small">Example: If the report is on counter trafficking of youth in a conflict zone you could select these tags: #youth, #conflict #trafficking #democracyandgovernance</h6>
    <p class="card-text resource-small font-weight-bold"><%= link_to 'Index of Available Tags', show_guide_path, data: { turbo_frame: "modal"} %></p>
  </div>
</div>

<div class="card text-bg-light mb-2">
  <div class="card-body">
    <h5 class="card-title text-dark fs-6">Description</h5>
    <p class="card-text resource-small text-dark">Please keep this section clean and concise. Answer these questions when you write it: What is this resource about? How was it used? How can this resource be useful to others?</p>
  </div>
</div>