
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li><%= link_to search_path(session[:last_search_id]) do %>Search<% end %></li>
          <li>Add Resource</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
    <div class="col-3 border-end">
      <h5 class="border-bottom pb-2">Guidance</h5>
      <%= render 'guidance' %>
      <br/>
    </div>
    <div class="col-9">
      <div class="h5 border-bottom pb-2">Add Resource</div>
      <%= render partial: 'form', locals: { resource: @resource, destination: '' } %>
    </div>
  </div>
</section>

  



