
<span class="results-number">
        <% if (@search.tags && @search.tags.length > 0) or !params[:organization_id].nil? %>
          <ul class="list-inline">
            Filtered By:

          </ul>
    <% end %>

  </span>