<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li>FAQ</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!--=== FAQ Page ===-->
<div class="container">
<!-- FAQ Blocks -->
<div class="row">
  <div class="col-4">   
    <h3><i class="bi bi-info-circle"></i> What are Resources?</h3>
    <p>Resources can be any file with data and/or information that is relevant to the Jordan M&E community.</p>
  </div>
  <div class="col-4">   
    <h3><i class="bi bi-files"></i> Types of Resources</h3>
    <p>Documents, spreadsheets, PDFs and other file types all offer a preview of the file contents prior to downloading.</p>
  </div>
  <div class="col-4">   
    <h3><i class="bi bi-inbox"></i> Contribute</h3>
    <p>While registration for the portal is open to anyone, being part of an organization requires an organizational email address.</p>
  </div>
</div>
<!-- End FAQ Blocks -->

<!-- FAQ Content -->
<div class="row">
  <div class="col-12 border-bottom pb-2 mb-3">
    Top Questions
  </div>
</div>

<div class="row">
  <div class="col-12 mb-2 pb-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is the Knowledge Management Portal?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>This portal is a repository of development resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan.</p>
          <p>The Jordan Development Knowledge Management Portal (KaMP) has been created for the purpose of making essential information useful for development professionals, including USAID staff, easily discoverable and accessible online.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Who can download Resources
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Resources in the portal are made available for viewing and download to any visitors of the portal. Organizations can limit their resources to be shared within their organization if necessary.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How do I upload resources to the Knowledge Management Portal (KaMP)?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>To upload resources you must register on the KaMP. Once you are logged in click on “Add Resource” at the top right corner of the home page and you can add a single resource or a collection of a related group of resources.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            What types of resources are available in this portal?
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul>
            <li>USAID/Jordan templates for Implementing Partners' use in M&E and other areas.</li>
            <li>Training materials and presentations developed by USAID/JORDAN Monitoring and Evaluation Support Project and other organizations.</li>
            <li>Assessments and evaluations conducted in Jordan and the region</li>
            <li>Geospatial data and maps</li>
            <li>USAID/Jordan commissioned reports and IPs commissioned.</li>
            <li>Other relevant materials in a variety of formats and topics.</li>
          </ul>
          <p>Note: Activity-specific materials such as success stories, work plans, quarterly reports, and other project/activity documents <strong>should not be uploaded</strong> as these are not useful learning resources for the wider development community.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
            How can I join under my partner organization?
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>While registration for the portal is open to anyone, becoming part of an organization requires having access to a verified email address within that organization. Organization administrators can also add users to an organization without requiring them to have an organization email address.</p>
          <p>If you are the first user within your organization to register for the portal, you will be asked to apply to add a partner organization before you can upload any resources. All organization applications are moderated by portal administrators and once approved all users in those organizations can add resources to the portal.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
            Who uses the Knowledge Management Portal and what for?
          </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>The portal will be populated with resources identified and uploaded by staff from USAID/Jordan, USAID/JORDAN Monitoring and Evaluation Project, Implementing Partners and other portal users.</p>
          <p>While the ability to upload documents and resources to the portal will be restricted to approve users in order to protect the contents from malicious intent, information on the portal will be will be available to all interested development partners in Jordan.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
            What are the different user roles within the organization?
          </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Organization membership has three different levels of access – Administrator, Editor and User. The person applying for the organization will be given the Administrator level and can manage access levels for all users in that organization. Organization administrators can also add users to an organization without requiring them to have an organization email address.</p>
            <ul>
              <li><strong>Members</strong> can add Resources through that Organization and edit any Resources that they have added. This is the default access level.</li>
              <li><strong>Editors</strong> can add Resources through an Organization and also edit all Resources belonging to that Organization.</li>

              <li><strong>Managers</strong> can add/edit and delete any Resources belonging to their Organization. Managers also have the ability to add/edit/drop users from their Organization. Managers can also grant Users organizational roles within their Organization including assigning management to another User.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
            How do I access these knowledge management related materials?
          </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Files (Resources) uploaded to the portal are marked with relevant metadata to assist users in finding what they are looking for. Metadata consists of a title, description, tags and document types. To find resources click on the magnifier icon at the top right corner of the screen.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
            How do I upload resources that are in Arabic?
          </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>The Resource/Collection name, description, Corporate Authorship and notes should be in English for Arabic documents, a collection should be created for multi-language resources.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
            We post our USAID-sponsored documents on our own Web site and/or on the Development Experience Clearinghouse (DEC). Why can't the KaMP access the documents from our Web site?
          </button>
        </h2>
        <div id="collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>For documents that are already on the DEC; links to the DEC are all that are required. The system will generate a preview based on that link and will also direct you to the address on the DEC instead of showing them a download link.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
            How do I learn more about the KaMP? Or my question isn’t addressed in your Help files. What now?
          </button>
        </h2>
        <div id="collapse11" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>The portal has a "Feedback" button that can be used to reach us, or email us at <a href="mailto:contact@jordanmela.com">contact@jordanmela.com</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


