<!--=== Content Part ===-->
<div class="container content">
  <div class="row blog-page">
      <!-- Bordered Funny Boxes -->
      <div class="funny-boxes funny-boxes-right-u">
        <div class="row">
          <div class="col-md-3 funny-boxes-img text-center">
            <span class="glyphicon glyphicon-info-sign" style="font-size: 100px; color:#95A5A6;"></span>
          </div>
          <div class="col-md-9">
            <p>&nbsp;</p>
            The views expressed on this web site do not necessarily reflect the views of the United States Agency for International Development or the United States Government.
          </div>
        </div>
      </div>
      <!-- End Bordered Funny Boxes -->

  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

