<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li>About</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="border-bottom pb-2 mb-5"><i class="bi bi-envelope"></i> About This Portal</h5>

      <div class="container">
        <div class="row border-bottom pb-3 mb-3">
          <div class="col-6">
            <p>USAID/Jordan created the Jordan Development KaMP – a web-based repository of development information resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan.</p>
            <p>The KaMP will be available to all interested development partners in Jordan and is populated with resources identified and uploaded by staff from USAID/Jordan, MESP, Implementing Partners and other portal users.</p>
            <p> Resources contained and/or referenced on the portal will include:</p>
            <ul>
              <li>USAID/Jordan templates for Implementing Partners' use in M&E and other areas</li>
              <li>Training materials and presentations developed by MESP and other organizations</li>
              <li>Assessments and evaluations conducted in Jordan and the region</li>
              <li>Geospatial data and maps</li>
              <li>Other relevant materials in a variety of formats and topics.</li>
            </ul>
          </div>
          <div class="col-6">
            <iframe width="560" height="315" src="https://drive.google.com/file/d/1V9tjg8Z8e-eCBmhzturygFg21JNK6qSi/preview" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row border-bottom pb-3 mb-3">
          <h4>Resource Types</h4>
          <p>The Jordan Development KaMP supports uploading of a large variety of resource types, including: Documents and Spreadsheets, Comma Delimited (.csv) Files, GeoJSON Files, PDF Files, Videos and Photos.</p>

        </div>
      </div>


      <!--=== Contact Us ===-->
      <div class="container">
        <div>
          <h4>Got Questions?</h4>
          <p>If you have any questions about how the portal works, check out our <%= link_to raw("Frequently Asked Questions") , faq_path, class: "btn-u btn-u-blue one-page-btn" %> section or use the "Help" button at the top left of the screen.</p>
          <p><i class="bi bi-envelope"></i> Email us at <a href="mailto:contact@jordanmela.com" class="">contact@jordanmela.com</a></p>
        </div>
      </div>

      </div>
    </div>


  </div>
</section><!-- End Services Section -->




