<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li>How to Contribute</li>
      </ol>
    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5 class="border-bottom pb-2 mb-3"><i class="bi bi-envelope"></i> How to Contribute</h5>

      <p>Contributing to the portal requires being part of one of our approved partner organizations. </p>
      <p><%= link_to 'Register Now', request_invite_path %> with your partner organization.</p>
      <p>Registration is open to anyone with a valid email address.</p>
      <p>Being part of an approved partner organization means you can add resources to the portal and share them with other users in the region.</p>
      <p><%= link_to 'Existing Users Log In Here', new_session_path(resource=User) %> </p>

      </div>
    </div>


  </div>
</section><!-- End Services Section -->
