<% content_for :title do %><%= @page_title %><% end %>
<!--=== Content Part ===-->
<div class="container content">
  <div class="row service-v1 margin-bottom-40">

      <div class="shadow-wrapper">
        <blockquote class="hero box-shadow shadow-effect-2 text-center">
          <p>When viewing resources, portal users can browse the contents of certain files before they decide to download them. </p>
        </blockquote>
      </div>
  </div>

  <div class="row service-v1 margin-bottom-40">
        <div class="col-md-8">
          <h2><i class="fa fa-files-o"></i> Documents and Spreadsheets</h2>
          <p>Documents and Spreadsheets offer a preview box allowing users to browse through and search the file before downloading it</p>
          <p>Documents include files such as Microsoft Word and Powerpoint, while spreadsheets include most common spreadsheet formats such as Microsoft Excel</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="/document_preview.png" width="100%" alt="Sample Preview of Document" />
        </div>
  </div>
  <hr>
  <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4">
          <img class="img-responsive" src="/csv_preview.png" width="100%" alt="Sample Preview of a CSV document" />
        </div>
        <div class="col-md-8">
          <h2><i class="fa fa-file-text-o"></i> Comma Delimited Files</h2>
          <p>Data is commonly transferred or exported to CSV (Comma Separated Values) format. Resource that are in .CSV format will generate a table showing the data contained in the file along with sorting and searching tools to browse it. </p>
          <h4>Latitude/Longitude</h4>
          <p>CSV files that have columns labeled "latitude" and "longitude" will also show a "Map" tab that overlays the file's rows onto a map.</p>
        </div>
  </div>
  <hr>
  <div class="row service-v1 margin-bottom-40">
        <div class="col-md-8">
          <h2><i class="fa fa-map-marker"></i> GeoJSON Files</h2>
          <p>GeoJSON is a format for encoding a variety of geographic data structures. When viewing GeoJSON resources, the data in the file will be displayed on a map.</p>
          <p>GeoJSON supports the following geometry types: Point, LineString, Polygon, MultiPoint, MultiLineString, and MultiPolygon. </p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="/img/map_preview.png" width="100%" alt="Sample Preview of a GeoJSON resource" />
        </div>
  </div>
  <hr>
  <div class="row service-v1 margin-bottom-40">
      <h2><i class="fa fa-file-pdf-o"></i> PDF Files</h2>
      <div class="row md-margin-bottom-40">
        <div class="col-md-10">
          <p>
            Files in PDF format will also generate previews for the user, but require installation of the free Adobe Reader plugin in their browser.</p>
          <p>
            While this plugin is built into most newer web browsers, users that are not able to see the preview can verify they have the latest version installed by clicking the Adobe Reader link
          </p>
        </div>
        <div class="col-md-2">
          <p align="center">
            <a href="http://get.adobe.com/reader/" target="_blank"><img width="158" height="39" src="/img/get_adobe_reader.png" alt="Get Acrobat Reader web logo"><br>
              Get Adobe Reader</a>
          </p>
        </div>
      </div>
  </div>


    </div>


</div><!--/container-->
<!--=== End Content Part ===-->