<div class="pt-2">
  <div class="row">
    <% @organizations.each do |organization| %>
      <div class="col-sm-4 sameHeight">
        <div class="shop-product">
          <% if organization.logo.blank? %>
            <img src="/img/logo-placeholder.jpg" alt="Placeholder Image" class="img-responsive pull-right">
          <% else %>
            <%= image_tag organization.logo.expiring_url(10), class: "img-responsive"  %>
          <% end %>
          <h4 class='primary-font'><%= link_to raw("" + organization.name.truncate(27) + ""), organization_path(organization) %></h4>
          <p class="text-muted">
            <%= simple_format organization.description.truncate(50) if !organization.description.nil? %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

