
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
  <div class="col-sm-9">

    <div class="tag-box tag-box-v3 form-page">
      <p>Enter the details of your organization below:</p>

      <%= render partial: 'form' %>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="headline"><h2>Why do I need one?</h2></div>
    <p>Organizations are used to create, manage and publish collections of collections. Users can have different roles within an Organization, depending on their level of authorization to create, edit and publish. </p>
  </div>
  </div>
</div>
