
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-sm-9">

      <p>Edit this category below.</p>

      <%= render 'form' %>

    </div>
    <div class="col-md-3">

      <%= render 'admin/sidebar' %>

      <%= render 'categories/unused_tags' %>

    </div>
  </div>
</div>
