<p>Hello <%= @resource.email %>!</p>

<p>Looks like you requested to change your password for the USAID Jordan Knowledge Management Portal (KaMP).</p>

<p> You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If the above link does not work you can copy and paste the link below:</p>

<p>

  <%= edit_password_url(@resource, reset_password_token: @token) %>

</p>

<p>If you did not request this, please ignore this email.</p>
<p>Your password will not change until you access the link above and create a new one.</p>
