
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <p>
          The views expressed on this web site do not necessarily reflect the views of the United States Agency for International Development or the United States Government.
          <%= link_to "Privacy Policy", "http://www.usaid.gov/privacy-policy", target: "_blank" %>

        </p>
      </div>
    </div>
  </div>
</div><!--/copyright-->
