<% if !user_signed_in? %>
  <h3 class="card-title text-success">Register</h3>
  <div class="row p-2 d-flex text-secondary">
    Contribute to the Jordan KaMP! Click the envelope to request an invitation.
  </div>
  <div class="col d-flex justify-content-center">
    <%= link_to request_invite_path do %><i class="bi bi-envelope"></i><% end %>
  </div>

<%  elsif user_signed_in? && current_user.cops.length != 0 %>
  <h3 class="card-title text-success">Communities of Practice</h3>
  <div class="row p-2 d-flex text-secondary">
    <ul class="list-group list-group-flush bg-transparent">
      <% current_user.cops.each do |cop| %>
        <li class="list-group-item bg-transparent"><%= link_to cop.name, show_cop_path(cop) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h3 class="card-title text-success">FAQ</h3>
  <div class="row p-2 d-flex text-secondary">
    Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
  </div>
<% end %>