<% if !user_signed_in? %>
  <h3 class="card-title text-success">Register</h3>
  <p class="card-text">Contribute to the Jordan KaMP! Click the envelope to request an invitation.
    <div class="col d-flex justify-content-center">yo</div>
  </p>
<%  elsif user_signed_in?  %>
  <h3 class="card-title text-success">Communities of Practice</h3>
  <p class="card-text">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
<% end %>