  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-6 footer-info">
            <h3>About This Portal</h3>
            <p>USAID/Jordan created the Jordan Development KaMP – a web-based repository of development resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan.
            <br/> <%= link_to raw('Read more about this portal &raquo;'), about_index_path %></p>
          </div>

          <div class="col-3 footer-links">
            <h4>Stay Connected</h4>
            <ul>
              <li><i class="bi bi-facebook"></i> &nbsp;<a href="https://www.facebook.com/USAID" target="_blank" alt="Connect with us on Facebook">Connect with us on Facebook</a></li>
              <li><i class="bi bi-twitter"></i> &nbsp;<a href="http://twitter.com/#!/usaid" target="_blank" alt="Connect with us on Twitter">Connect with us on Twitter</a></li>
              <li><i class="bi bi-linkedin"></i> &nbsp;<a href="http://www.linkedin.com/groups?gid=118430" target="_blank" alt="Connect with us on LinkedIn">Connect with us on LinkedIn</a></li>
              <li><i class="bi bi-youtube"></i> &nbsp;<a href="http://www.youtube.com/usaidvideo" target="_blank" alt="Connect with us on YouTube">Connect with us on YouTube</a></li>
            </ul>
          </div>

          <div class="col-3 footer-contact">
            <h4>Contact Us</h4>
            <p><strong><i class="fa fa-globe"></i> Address: </strong><br>M&E Team, Office of Program Management <br />
              USAID/Jordan<br>
              Tel. (962-6) 590 6630 | Fax. (962-6) 590 7300<br />
              Email <a href="mailto:help@jordankmportal.com">help@jordankmportal.com</a></p><br />
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        The views expressed on this web site do not necessarily reflect the views of the United States Agency for International Development or the United States Government.
          <%= link_to "Privacy Policy", "http://www.usaid.gov/privacy-policy", target: "_blank" %>
      </div>
    </div>
  </footer><!-- End Footer -->