
<!--=== Footer Version 3 ===-->
<div class="footer-v3">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-4">
          <div class="headline"><h2>About This Portal</h2></div>
          <p class="margin-bottom-25 md-margin-bottom-40">
            USAID/Jordan created the Jordan Development KaMP – a web-based repository of development resources designed to improve sharing of data and information between the USAID/Jordan Mission, local implementing partners and development organizations within Jordan.
            <br/> <%= link_to raw('Read more about this portal &raquo;'), about_index_path %>
          </p>
          <!-- End About -->

        </div><!--/span3-->

        <div class="col-md-4">
          <div class="posts">
            <div class="headline"><h2>Stay Connected</h2></div>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/USAID" target="_blank" data-original-title="Facebook" class="social_facebook" title="Connect with us on Facebook" alt="Connect with us on Facebook"></a></li>
              <li><a href="http://twitter.com/#!/usaid" target="_blank" data-original-title="Twitter" class="social_twitter" title="Connect with us on Twitter" alt="Connect with us on Twitter"></a></li>
              <li><a href="http://www.linkedin.com/groups?gid=118430" target="_blank" data-original-title="Linkedin" class="social_linkedin" title="Connect with us on LinkedIn" alt="Connect with us on LinkedIn"></a></li>
              <li><a href="http://www.youtube.com/usaidvideo" target="_blank" data-original-title="YouTube" class="social_youtube" title="Connect with us on YouTube" alt="Connect with us on YouTube"></a></li>
            </ul>
            <!-- End Social Links -->
            <p><strong><i class="fa fa-globe"></i> Address: </strong><br>M&E Team, Office of Program Management <br />
              USAID/Jordan<br>
              Tel. (962-6) 590 6630 | Fax. (962-6) 590 7300</p><br /><br>
            <!-- End Recent Blogs -->
          </div>
        </div>

        <div class="col-md-4">
          <!-- Monthly Newsletter -->
          <div class="headline"><h2>Contact Us</h2></div>
          <p>Click the "Help" button located on the left side of the page to send us a message.</p>
          <p>
            <i class="fa fa-envelope"></i> Or email us at <a href="mailto:contact@jordankmportal.com" class="">contact@jordankmportal.com</a>
          </p>
          <!-- End Contact Us -->

        </div><!--/span4-->

      </div>
    </div>
  </div>
</div><!--/footer-->

